    #content {
      padding: 10px;
      border: 1px solid grey;
      resize: both;
      overflow: auto;
    }

    .itemGroup {
      display: grid;
      grid-template-columns: 1fr 1fr 4fr 2fr;
      margin-bottom: 1px;
      padding-bottom: 1px;
    }

    .title {
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .items {
      display: flex;
      gap: 4px;
    }

    .items>div {
      border: 1px solid black;
      width: fit-content;
      padding: 2px;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .optionalItems {
      border-left: 1px solid black;
      padding-left: 5px;
    }

    .marked {
      background-color: red;
    }

    .completed {
      background-color: green;
    }
	
	div.mandatory:nth-child(1) {
	 background-color: yellow;
	}
	
	.items:nth-child(1) {
	 background-color: yellow;
     background-image: url(https://mangadex.org/images/groups/default.dark.png) !important;
	 background-position: center;
    }
	